Repository PackageKit/PackageKit, changes with the labels that .github/labeler.yml gives for each.
All labels: daemon, library, Backend: alpm (Arch Linux), Backend: apt (Debian GNU/Linux), Backend: dnf (Fedora Linux), Backend: entropy (Sabayon), Backend: nix (NixOS), Backend: pisi (Pisi Linux), Backend: pkg (FreeBSD), Backend: poldek (PLD Linux), Backend: portage (Gentoo Linux), Backend: slack (Slackware Linux), Backend: zypp (SUSE Linux)

.github/labeler.yml:

#
# Shared
#

daemon:
- changed-files:
  - any-glob-to-any-file: src/**
  - any-glob-to-any-file: ['backends/dummy/**', 'backends/test/**']

library:
- changed-files:
  - any-glob-to-any-file: lib/**

#
# Backends
#

'Backend: alpm (Arch Linux)':
- changed-files:
  - any-glob-to-any-file: backends/alpm/**

'Backend: apt (Debian GNU/Linux)':
- changed-files:
  - any-glob-to-any-file: backends/apt/**

'Backend: dnf (Fedora Linux)':
- changed-files:
  - any-glob-to-any-file: backends/dnf/**

'Backend: entropy (Sabayon)':
- changed-files:
  - any-glob-to-any-file: backends/entropy/**

'Backend: nix (NixOS)':
- changed-files:
  - any-glob-to-any-file: backends/nix/**

'Backend: pisi (Pisi Linux)':
- changed-files:
  - any-glob-to-any-file: backends/pisi/**

'Backend: pkg (FreeBSD)':
- changed-files:
  - any-glob-to-any-file: backends/freebsd/**

'Backend: poldek (PLD Linux)':
- changed-files:
  - any-glob-to-any-file: backends/poldek/**

'Backend: portage (Gentoo Linux)':
- changed-files:
  - any-glob-to-any-file: backends/portage/**

'Backend: slack (Slackware Linux)':
- changed-files:
  - any-glob-to-any-file: backends/slack/**

'Backend: zypp (SUSE Linux)':
- changed-files:
  - any-glob-to-any-file: backends/zypp/**

dnf5-plugin: Explicify that the dbus proxy is on the system bus
  backends/dnf/notify_packagekit.cpp
Labels: Backend: dnf (Fedora Linux)

dnf5-plugin: Do not wait for dbus reply
  backends/dnf/notify_packagekit.cpp
Labels: Backend: dnf (Fedora Linux)

dnf5-plugin: Ignore bus errors
  backends/dnf/notify_packagekit.cpp
Labels: Backend: dnf (Fedora Linux)

dnf5-plugin: Link against libdnf5
  backends/dnf/meson.build
Labels: Backend: dnf (Fedora Linux)

dnf5-plugin: Link against libdnf5
  backends/dnf/meson.build
Labels: Backend: dnf (Fedora Linux)

pk-offline-update: Properly print newlines on systems without sd_journal_print
  client/pk-offline-update.c
Labels: none

pk-offline-update: Properly print newlines on systems without sd_journal_print
  client/pk-offline-update.c
Labels: none

l10n: Update
  po/PackageKit.pot
Labels: none

Release 1.3.2
  NEWS
Labels: none

trivial: post release version bump
  RELEASE
  meson.build
Labels: none

trivial: Update contributor info
  CONTRIBUTING
  HACKING
Labels: none

Update README
  README.md
Labels: none

trivial: add missing space
  README.md
Labels: none

l10n: Hebrew translation updated
  po/he.po
Labels: none

l10n: Swedish translation updated
  po/sv.po
Labels: none

l10n: Ukrainian translation updated
  po/uk.po
Labels: none

l10n: Belarusian translation updated
  po/be.po
Labels: none

l10n: Finnish translation updated
  po/fi.po
Labels: none

l10n: Romanian translation updated
  po/ro.po
Labels: none

pk-package-ids: Use ',' as a separator
  lib/packagekit-glib2/pk-package-ids.c
  lib/packagekit-glib2/pk-package-ids.h
  lib/packagekit-glib2/pk-test-private.c
  lib/python/packagekit/backend.py
Labels: library

l10n: French translation updated
  po/fr.po
Labels: none

l10n: Added new translation: Kabyle
  po/kab.po
Labels: none

l10n: Croatian translation updated
  po/hr.po
Labels: none

l10n: German translation updated
  po/de.po
Labels: none

l10n: Kabyle translation updated
  po/kab.po
Labels: none

Move FailureAction= to the correct section
  data/packagekit-offline-update.service.in
Labels: none

l10n: Added new translation: Estonian
  po/et.po
Labels: none

l10n: Estonian translation updated
  po/et.po
Labels: none

lib: Modernize progress bar display
  client/pk-console.c
  client/pk-offline-update.c
  lib/packagekit-glib2/pk-progress-bar.c
  lib/packagekit-glib2/pk-progress-bar.h
Labels: library

lib: When spawning debconf helper, actually pass environment
  lib/packagekit-glib2/pk-client-helper.c
Labels: library

client: Send SIGTERM to debconf helper instead of SIGQUIT
  lib/packagekit-glib2/pk-client-helper.c
Labels: library

client: Pass a few more env vars to the debconf helper to fix Qt helpers
  lib/packagekit-glib2/pk-client-helper.c
  lib/packagekit-glib2/pk-client.c
Labels: library

Move FailureAction= to the correct section
  data/packagekit-offline-update.service.in
Labels: none

lib: Improve unicode detection for progress bar
  lib/packagekit-glib2/pk-progress-bar.c
  src/pk-self-test.c
Labels: daemon, library

policy: Allow admins to trigger updates without password, require password for installations
  policy/org.freedesktop.packagekit.rules
Labels: none

policy: Allow inactive users to refresh sources
  policy/org.freedesktop.packagekit.policy.in
Labels: none

policy: Allow offline-upgrades to be triggered without password for admin users
  policy/org.freedesktop.packagekit.rules
Labels: none

pkcon: Don't filter out removed packages from the update target set
  client/pk-console.c
Labels: none

apt: Fully resolve update candidates, allowing removals
  backends/apt/apt-job.cpp
  backends/apt/apt-job.h
  backends/apt/pk-backend-apt.cpp
  client/pk-console.c
Labels: Backend: apt (Debian GNU/Linux)

apt: Autoformat code
  backends/apt/.clang-format
  backends/apt/acqpkitstatus.cpp
  backends/apt/acqpkitstatus.h
  backends/apt/apt-cache-file.cpp
  backends/apt/apt-cache-file.h
  backends/apt/apt-job.cpp
  backends/apt/apt-job.h
  backends/apt/apt-messages.cpp
  backends/apt/apt-messages.h
  backends/apt/apt-sourceslist.cpp
  backends/apt/apt-sourceslist.h
  backends/apt/apt-utils.cpp
  backends/apt/apt-utils.h
  backends/apt/deb-file.cpp
  backends/apt/deb822.cpp
  backends/apt/deb822.h
  backends/apt/gst-matcher.cpp
  backends/apt/gst-matcher.h
  backends/apt/pk-backend-apt.cpp
  backends/apt/pkg-list.cpp
  backends/apt/pkg-list.h
Labels: Backend: apt (Debian GNU/Linux)
