Repository PackageKit/PackageKit, changes with the labels that .github/labeler.yml gives for each.
All labels: daemon, library, Backend: alpm (Arch Linux), Backend: apt (Debian GNU/Linux), Backend: dnf (Fedora Linux), Backend: entropy (Sabayon), Backend: nix (NixOS), Backend: pisi (Pisi Linux), Backend: pkg (FreeBSD), Backend: poldek (PLD Linux), Backend: portage (Gentoo Linux), Backend: slack (Slackware Linux), Backend: zypp (SUSE Linux)

.github/labeler.yml:

#
# Shared
#

daemon:
- changed-files:
  - any-glob-to-any-file: src/**
  - any-glob-to-any-file: ['backends/dummy/**', 'backends/test/**']

library:
- changed-files:
  - any-glob-to-any-file: lib/**

#
# Backends
#

'Backend: alpm (Arch Linux)':
- changed-files:
  - any-glob-to-any-file: backends/alpm/**

'Backend: apt (Debian GNU/Linux)':
- changed-files:
  - any-glob-to-any-file: backends/apt/**

'Backend: dnf (Fedora Linux)':
- changed-files:
  - any-glob-to-any-file: backends/dnf/**

'Backend: entropy (Sabayon)':
- changed-files:
  - any-glob-to-any-file: backends/entropy/**

'Backend: nix (NixOS)':
- changed-files:
  - any-glob-to-any-file: backends/nix/**

'Backend: pisi (Pisi Linux)':
- changed-files:
  - any-glob-to-any-file: backends/pisi/**

'Backend: pkg (FreeBSD)':
- changed-files:
  - any-glob-to-any-file: backends/freebsd/**

'Backend: poldek (PLD Linux)':
- changed-files:
  - any-glob-to-any-file: backends/poldek/**

'Backend: portage (Gentoo Linux)':
- changed-files:
  - any-glob-to-any-file: backends/portage/**

'Backend: slack (Slackware Linux)':
- changed-files:
  - any-glob-to-any-file: backends/slack/**

'Backend: zypp (SUSE Linux)':
- changed-files:
  - any-glob-to-any-file: backends/zypp/**

l10n: Swedish translation updated
  po/sv.po
Labels: none

l10n: Romanian translation updated
  po/ro.po
Labels: none

l10n: Hebrew translation updated
  po/he.po
Labels: none

l10n: Slovenian translation updated
  po/sl.po
Labels: none

l10n: Polish translation updated
  po/pl.po
Labels: none

l10n: Romanian translation updated
  po/ro.po
Labels: none

l10n: Ukrainian translation updated
  po/uk.po
Labels: none

command-not-found: inherit stdin
  contrib/command-not-found/pk-command-not-found.c
Labels: none

l10n: Update template
  po/PackageKit.pot
Labels: none

freebsd backend: Remove stale TODO
  backends/freebsd/PackageDatabase.hpp
Labels: Backend: pkg (FreeBSD)

Release 1.3.3
  NEWS
Labels: none

trivial: post release version bump
  RELEASE
  meson.build
Labels: none

Build pkgctl by default
  client/meson.build
  meson.build
  meson_options.txt
  tests/ci/build-and-test.sh
Labels: none

Start requiring 'download-size' for get_details() in spawned backends
  lib/python/packagekit/backend.py
Labels: library

Emit 'Unknown' download size for spawned backends
  backends/entropy/entropyBackend.py
  backends/pisi/pisiBackend.py
  backends/portage/portageBackend.py
Labels: Backend: entropy (Sabayon), Backend: pisi (Pisi Linux), Backend: portage (Gentoo Linux)

Add pk_strtoulong() helper function
  src/pk-shared.c
  src/pk-shared.h
Labels: daemon

Fix invalid size checks for size and download-size for spawned backends
  src/pk-backend-spawn.c
Labels: daemon

Add details() tests for 'size' and 'download-size' properties
  src/pk-self-test.c
Labels: daemon

trivial: style
  client/pkgc-query.c
Labels: none

l10n: Hebrew translation updated
  po/he.po
Labels: none

l10n: French translation updated
  po/fr.po
Labels: none

pkgctl: Make updating a specific package work like in pkcon
  client/pkgc-manage.c
Labels: none

pkgctl: Filter out blocked packages before attempting an update
  client/pkgc-manage.c
Labels: none

pkgctl: Improve filtering and error handling
  client/pkgc-context.c
  client/pkgc-context.h
  client/pkgc-manage.c
  client/pkgc-monitor.c
  client/pkgc-query.c
  client/pkgc-repo.c
  client/pkgc-util.c
  client/pkgctl.c
Labels: none

trivial: style
  client/pkgc-context.h
Labels: none

freebsd backend: Properly finish the some job when we're offline
  backends/freebsd/pk-backend-freebsd.cpp
Labels: Backend: pkg (FreeBSD)

freebsd backend: Feed package names without versions to the update command
  backends/freebsd/pk-backend-freebsd.cpp
Labels: Backend: pkg (FreeBSD)

freebsd backend: Don't check if we're online when handling get-updates
  backends/freebsd/pk-backend-freebsd.cpp
Labels: Backend: pkg (FreeBSD)

freebsd backend: Move some code around in the refresh command handler
  backends/freebsd/pk-backend-freebsd.cpp
Labels: Backend: pkg (FreeBSD)

freebsd backend: Properly finish the some job when we're offline
  backends/freebsd/pk-backend-freebsd.cpp
Labels: Backend: pkg (FreeBSD)

freebsd backend: Move some code around in the refresh command handler
  backends/freebsd/pk-backend-freebsd.cpp
Labels: Backend: pkg (FreeBSD)

freebsd backend: Feed package names without versions to the update command
  backends/freebsd/pk-backend-freebsd.cpp
Labels: Backend: pkg (FreeBSD)

freebsd backend: Remove stale TODO
  backends/freebsd/PackageDatabase.hpp
Labels: Backend: pkg (FreeBSD)

freebsd backend: Don't check if we're online when handling get-updates
  backends/freebsd/pk-backend-freebsd.cpp
Labels: Backend: pkg (FreeBSD)

l10n: Portuguese (Brazil) translation updated
  po/pt_BR.po
Labels: none

l10n: Portuguese (Brazil) translation updated
  po/pt_BR.po
Labels: none

pkgctl: Add manual page
  client/meson.build
  client/pkgc-query.c
  client/pkgctl.xml
Labels: none

pkgctl: Add basic bash-completion support
  contrib/meson.build
  contrib/pkgctl
Labels: none

trivial: ci: freebsd: Add jansson dependency
  .cirrus.yml
Labels: none

trivial: ci: Add missing dependencies
  .cirrus.yml
  tests/ci/Dockerfile-debian
  tests/ci/Dockerfile-fedora
Labels: none
