Repository PackageKit/PackageKit, changes with the labels that .github/labeler.yml gives for each.
All labels: daemon, library, Backend: alpm (Arch Linux), Backend: apt (Debian GNU/Linux), Backend: dnf (Fedora Linux), Backend: entropy (Sabayon), Backend: nix (NixOS), Backend: pisi (Pisi Linux), Backend: pkg (FreeBSD), Backend: poldek (PLD Linux), Backend: portage (Gentoo Linux), Backend: slack (Slackware Linux), Backend: zypp (SUSE Linux)

Start requiring 'download-size' for get_details() in spawned backends
  lib/python/packagekit/backend.py
Labels: library

Fix invalid size checks for size and download-size for spawned backends
  src/pk-backend-spawn.c
Labels: daemon

Add details() tests for 'size' and 'download-size' properties
  src/pk-self-test.c
Labels: daemon

Emit download_bytes param in spawned backends
  backends/entropy/entropyBackend.py
  backends/pisi/pisiBackend.py
  backends/portage/portageBackend.py
Labels: Backend: entropy (Sabayon), Backend: pisi (Pisi Linux), Backend: portage (Gentoo Linux)

Add pk_strtoulong() helper function
  src/pk-shared.c
  src/pk-shared.h
Labels: daemon

l10n: Turkish translation updated
  po/tr.po
Labels: none

l10n: Chinese (Simplified Han script) translation updated
  po/zh_CN.po
Labels: none

l10n: Chinese (Simplified Han script) translation updated
  po/zh_CN.po
Labels: none

l10n: German translation updated
  po/de.po
Labels: none

pk-client: Add more debug messages to the PkClientState lifecycle
  lib/packagekit-glib2/pk-client.c
Labels: library

pk-client: Fix assertion failure when PkClientState is cancelled early
  lib/packagekit-glib2/pk-client.c
Labels: library

pk-client: Improve error code when PkClientState is cancelled early
  lib/packagekit-glib2/pk-client.c
Labels: library

pk-client: Remove a load of redundant GCancellable NULL checks
  lib/packagekit-glib2/pk-client.c
Labels: library

contrib: Refresh PackageKit.spec.in to match current packaging guidance
  contrib/PackageKit.spec.in
Labels: none

docs: Add dnf5 backend to the backend feature matrix page
  docs/html/pk-matrix.html
Labels: none

backends: Initial implementation of the DNF5 backend
  AUTHORS
  backends/dnf/meson.build
  backends/dnf5/README.md
  backends/dnf5/dnf5-backend-thread.cpp
  backends/dnf5/dnf5-backend-thread.hpp
  backends/dnf5/dnf5-backend-utils.cpp
  backends/dnf5/dnf5-backend-utils.hpp
  backends/dnf5/dnf5-backend-vendor-fedora.cpp
  backends/dnf5/dnf5-backend-vendor-mageia.cpp
  backends/dnf5/dnf5-backend-vendor-openmandriva.cpp
  backends/dnf5/dnf5-backend-vendor-opensuse.cpp
  backends/dnf5/dnf5-backend-vendor-rosa.cpp
  backends/dnf5/dnf5-backend-vendor.hpp
  backends/dnf5/meson.build
  backends/dnf5/notify_packagekit.conf
  backends/dnf5/notify_packagekit.cpp
  backends/dnf5/pk-backend-dnf5.cpp
  meson_options.txt
Labels: Backend: dnf (Fedora Linux)

ci: Build and test the dnf5 backend
  .github/workflows/build-test.yml
Labels: none

l10n: Estonian translation updated
  po/et.po
Labels: none

l10n: Georgian translation updated
  po/ka.po
Labels: none

dnf5: Invalidate context when receiving updates-changed signal
  backends/dnf5/pk-backend-dnf5.cpp
Labels: none

l10n: Estonian translation updated
  po/et.po
Labels: none

backends: Hook up job user_data destroy func
  src/pk-backend-job.c
Labels: daemon

backends: Hook up job user_data destroy func
  src/pk-backend-job.c
Labels: daemon

pk-client: Fix assertion failure when PkClientState is cancelled early
  lib/packagekit-glib2/pk-client.c
Labels: library

pk-client: Improve error code when PkClientState is cancelled early
  lib/packagekit-glib2/pk-client.c
Labels: library

pk-client: Add more debug messages to the PkClientState lifecycle
  lib/packagekit-glib2/pk-client.c
Labels: library

pk-client: Remove a load of redundant GCancellable NULL checks
  lib/packagekit-glib2/pk-client.c
Labels: library

doc: Delete MAINTAINERS file in favour of PackageKit.doap
  MAINTAINERS
Labels: none

general: Fix spelling of D-Bus in comments and docs
  README.md
  backends/PORTING.txt
  client/pkcon/pk-monitor.c
  client/pkgc-monitor.c
  contrib/command-not-found/PackageKit.sh.in
  contrib/gstreamer-plugin/README
  data/org.freedesktop.packagekit.metainfo.xml
  docs/api/spec/pk-concepts.xml
  docs/api/spec/pk-structure.svg
  docs/html/pk-faq.html
  docs/html/pk-using.html
  docs/setting-the-proxy.txt
  lib/packagekit-glib2/pk-common.h
  lib/packagekit-glib2/pk-control.c
  src/pk-backend-job.c
  src/pk-dbus.c
  src/pk-scheduler.c
  src/run-pk.sh
Labels: daemon, library

docs: Fix capitalisation of GLib and GObject
  docs/html/pk-using.html
Labels: none

docs: Fix capitalisation of GLib and GObject
  docs/html/pk-using.html
Labels: none

general: Fix spelling of D-Bus in comments and docs
  README.md
  backends/PORTING.txt
  client/pkcon/pk-monitor.c
  client/pkgc-monitor.c
  contrib/command-not-found/PackageKit.sh.in
  contrib/gstreamer-plugin/README
  data/org.freedesktop.packagekit.metainfo.xml
  docs/api/spec/pk-concepts.xml
  docs/api/spec/pk-structure.svg
  docs/html/pk-faq.html
  docs/html/pk-using.html
  docs/setting-the-proxy.txt
  lib/packagekit-glib2/pk-common.h
  lib/packagekit-glib2/pk-control.c
  src/pk-backend-job.c
  src/pk-dbus.c
  src/pk-scheduler.c
  src/run-pk.sh
Labels: daemon, library

doc: Delete MAINTAINERS file in favour of PackageKit.doap
  MAINTAINERS
Labels: none

backends: Initial implementation of the DNF5 backend
  AUTHORS
  backends/dnf5/README.md
  backends/dnf5/dnf5-backend-thread.cpp
  backends/dnf5/dnf5-backend-thread.hpp
  backends/dnf5/dnf5-backend-utils.cpp
  backends/dnf5/dnf5-backend-utils.hpp
  backends/dnf5/dnf5-backend-vendor-fedora.cpp
  backends/dnf5/dnf5-backend-vendor-mageia.cpp
  backends/dnf5/dnf5-backend-vendor-openmandriva.cpp
  backends/dnf5/dnf5-backend-vendor-opensuse.cpp
  backends/dnf5/dnf5-backend-vendor-rosa.cpp
  backends/dnf5/dnf5-backend-vendor.hpp
  backends/dnf5/meson.build
  backends/dnf5/pk-backend-dnf5.cpp
  meson_options.txt
Labels: none

l10n: Indonesian translation updated
  po/id.po
Labels: none

ci: Build and test the dnf5 backend
  .github/workflows/build-test.yml
  backends/dnf5/dnf5-backend-utils.hpp
Labels: none

.github/labeler.yml:

#
# Shared
#

daemon:
- changed-files:
  - any-glob-to-any-file: src/**
  - any-glob-to-any-file: ['backends/dummy/**', 'backends/test/**']

library:
- changed-files:
  - any-glob-to-any-file: lib/**

#
# Backends
#

'Backend: alpm (Arch Linux)':
- changed-files:
  - any-glob-to-any-file: backends/alpm/**

'Backend: apt (Debian GNU/Linux)':
- changed-files:
  - any-glob-to-any-file: backends/apt/**

'Backend: dnf (Fedora Linux)':
- changed-files:
  - any-glob-to-any-file: backends/dnf/**

'Backend: entropy (Sabayon)':
- changed-files:
  - any-glob-to-any-file: backends/entropy/**

'Backend: nix (NixOS)':
- changed-files:
  - any-glob-to-any-file: backends/nix/**

'Backend: pisi (Pisi Linux)':
- changed-files:
  - any-glob-to-any-file: backends/pisi/**

'Backend: pkg (FreeBSD)':
- changed-files:
  - any-glob-to-any-file: backends/freebsd/**

'Backend: poldek (PLD Linux)':
- changed-files:
  - any-glob-to-any-file: backends/poldek/**

'Backend: portage (Gentoo Linux)':
- changed-files:
  - any-glob-to-any-file: backends/portage/**

'Backend: slack (Slackware Linux)':
- changed-files:
  - any-glob-to-any-file: backends/slack/**

'Backend: zypp (SUSE Linux)':
- changed-files:
  - any-glob-to-any-file: backends/zypp/**
