Repository PackageKit/PackageKit, changes with the labels that .github/labeler.yml gives for each.
All labels: daemon, library, Backend: alpm (Arch Linux), Backend: apt (Debian GNU/Linux), Backend: dnf (Fedora Linux), Backend: entropy (Sabayon), Backend: nix (NixOS), Backend: pisi (Pisi Linux), Backend: pkg (FreeBSD), Backend: poldek (PLD Linux), Backend: portage (Gentoo Linux), Backend: slack (Slackware Linux), Backend: zypp (SUSE Linux)

l10n: Spanish translation updated
  po/es.po
Labels: none

policy: Only permit password-less system *updates* not system *upgrades*
  policy/org.freedesktop.packagekit.rules
Labels: none

l10n: Update
  po/PackageKit.pot
Labels: none

l10n: Croatian translation updated
  po/hr.po
Labels: none

l10n: Slovenian translation updated
  po/sl.po
Labels: none

l10n: Hebrew translation updated
  po/he.po
Labels: none

l10n: Romanian translation updated
  po/ro.po
Labels: none

l10n: Swedish translation updated
  po/sv.po
Labels: none

alpm: Ignore new Sandbox configuration options
  backends/alpm/pk-alpm-config.c
Labels: Backend: alpm (Arch Linux)

alpm: Ignore new Sandbox configuration options
  backends/alpm/pk-alpm-config.c
Labels: Backend: alpm (Arch Linux)

contrib,ci,meson: Drop gobject-introspection and raise to glib2 >= 2.80
  .cirrus.yml
  contrib/PackageKit.spec.in
  meson.build
  tests/ci/Dockerfile-debian
Labels: none

meson: Make ply-boot-client a required dependency for offline-updates
  meson.build
  tests/ci/Dockerfile-fedora
  tests/ci/Dockerfile-solus
Labels: none

Start requiring 'download-size' for get_details() in spawned backends
  lib/python/packagekit/backend.py
Labels: library

Emit 'Unknown' download size for spawned backends
  backends/entropy/entropyBackend.py
  backends/pisi/pisiBackend.py
  backends/portage/portageBackend.py
Labels: Backend: entropy (Sabayon), Backend: pisi (Pisi Linux), Backend: portage (Gentoo Linux)

Add pk_strtoulong() helper function
  src/pk-shared.c
  src/pk-shared.h
Labels: daemon

Fix invalid size checks for size and download-size for spawned backends
  src/pk-backend-spawn.c
Labels: daemon

Add details() tests for 'size' and 'download-size' properties
  src/pk-self-test.c
Labels: daemon

pk-offline-update: Call into ConsoleKit on FreeBSD to perform poweroff/reboot
  client/pk-offline-update.c
  meson.build
Labels: none

FreeBSD CI: Bump to 14.3-RELEASE
  .cirrus.yml
Labels: none

ci: freebsd: Upgrade to FreeBSD 15.0
  .cirrus.yml
Labels: none

ci: freebsd: Upgrade to FreeBSD 15.0
  .cirrus.yml
Labels: none

pk-offline-update: Call into ConsoleKit on FreeBSD to perform poweroff/reboot
  client/pk-offline-update.c
  meson.build
Labels: none

dnf: Implement DependsOn and RequiredBy
  backends/dnf/pk-backend-dnf.c
  docs/html/pk-matrix.html
Labels: Backend: dnf (Fedora Linux)

Add details() tests for 'size' and 'download-size' properties
  src/pk-self-test.c
Labels: daemon

Start requiring 'download-size' for get_details() in spawned backends
  lib/python/packagekit/backend.py
Labels: library

Add pk_strtoulong() helper function
  src/pk-shared.c
  src/pk-shared.h
Labels: daemon

Fix invalid size checks for size and download-size for spawned backends
  src/pk-backend-spawn.c
Labels: daemon

python: Ensure 'size' & 'download-size' are reported as unknown if None
  lib/python/packagekit/backend.py
Labels: library

Emit download_bytes param in spawned backends
  backends/entropy/entropyBackend.py
  backends/pisi/pisiBackend.py
  backends/portage/portageBackend.py
Labels: Backend: entropy (Sabayon), Backend: pisi (Pisi Linux), Backend: portage (Gentoo Linux)

dnf: Implement DependsOn and RequiredBy
  backends/dnf/pk-backend-dnf.c
  docs/html/pk-matrix.html
Labels: Backend: dnf (Fedora Linux)

meson: Ensure enums.py is always available for Python tests
  lib/python/packagekit/meson.build
Labels: library

Start requiring 'download-size' for get_details() in spawned backends
  lib/python/packagekit/backend.py
Labels: library

Add pk_strtoulong() helper function
  src/pk-shared.c
  src/pk-shared.h
Labels: daemon

Add details() tests for 'size' and 'download-size' properties
  src/pk-self-test.c
Labels: daemon

Fix invalid size checks for size and download-size for spawned backends
  src/pk-backend-spawn.c
Labels: daemon

python: Ensure 'size' & 'download-size' are reported as unknown if None
  lib/python/packagekit/backend.py
Labels: library

Emit download_bytes param in spawned backends
  backends/entropy/entropyBackend.py
  backends/pisi/pisiBackend.py
  backends/portage/portageBackend.py
Labels: Backend: entropy (Sabayon), Backend: pisi (Pisi Linux), Backend: portage (Gentoo Linux)

python: Add type annots for 'size' & 'download_size' params in details()
  lib/python/packagekit/backend.py
Labels: library

python: Ensure 'size' & 'download-size' are reported as unknown if None
  lib/python/packagekit/backend.py
Labels: library

python: Add type annots for 'size' & 'download_size' params in details()
  lib/python/packagekit/backend.py
Labels: library

.github/labeler.yml:

#
# Shared
#

daemon:
- changed-files:
  - any-glob-to-any-file: src/**
  - any-glob-to-any-file: ['backends/dummy/**', 'backends/test/**']

library:
- changed-files:
  - any-glob-to-any-file: lib/**

#
# Backends
#

'Backend: alpm (Arch Linux)':
- changed-files:
  - any-glob-to-any-file: backends/alpm/**

'Backend: apt (Debian GNU/Linux)':
- changed-files:
  - any-glob-to-any-file: backends/apt/**

'Backend: dnf (Fedora Linux)':
- changed-files:
  - any-glob-to-any-file: backends/dnf/**

'Backend: entropy (Sabayon)':
- changed-files:
  - any-glob-to-any-file: backends/entropy/**

'Backend: nix (NixOS)':
- changed-files:
  - any-glob-to-any-file: backends/nix/**

'Backend: pisi (Pisi Linux)':
- changed-files:
  - any-glob-to-any-file: backends/pisi/**

'Backend: pkg (FreeBSD)':
- changed-files:
  - any-glob-to-any-file: backends/freebsd/**

'Backend: poldek (PLD Linux)':
- changed-files:
  - any-glob-to-any-file: backends/poldek/**

'Backend: portage (Gentoo Linux)':
- changed-files:
  - any-glob-to-any-file: backends/portage/**

'Backend: slack (Slackware Linux)':
- changed-files:
  - any-glob-to-any-file: backends/slack/**

'Backend: zypp (SUSE Linux)':
- changed-files:
  - any-glob-to-any-file: backends/zypp/**
