Repository PackageKit/PackageKit, changes with the labels that .github/labeler.yml gives for each.
All labels: daemon, library, Backend: alpm (Arch Linux), Backend: apt (Debian GNU/Linux), Backend: dnf (Fedora Linux), Backend: entropy (Sabayon), Backend: nix (NixOS), Backend: pisi (Pisi Linux), Backend: pkg (FreeBSD), Backend: poldek (PLD Linux), Backend: portage (Gentoo Linux), Backend: slack (Slackware Linux), Backend: zypp (SUSE Linux)

.github/labeler.yml:

#
# Shared
#

daemon:
- changed-files:
  - any-glob-to-any-file: src/**
  - any-glob-to-any-file: ['backends/dummy/**', 'backends/test/**']

library:
- changed-files:
  - any-glob-to-any-file: lib/**

#
# Backends
#

'Backend: alpm (Arch Linux)':
- changed-files:
  - any-glob-to-any-file: backends/alpm/**

'Backend: apt (Debian GNU/Linux)':
- changed-files:
  - any-glob-to-any-file: backends/apt/**

'Backend: dnf (Fedora Linux)':
- changed-files:
  - any-glob-to-any-file: backends/dnf/**

'Backend: entropy (Sabayon)':
- changed-files:
  - any-glob-to-any-file: backends/entropy/**

'Backend: nix (NixOS)':
- changed-files:
  - any-glob-to-any-file: backends/nix/**

'Backend: pisi (Pisi Linux)':
- changed-files:
  - any-glob-to-any-file: backends/pisi/**

'Backend: pkg (FreeBSD)':
- changed-files:
  - any-glob-to-any-file: backends/freebsd/**

'Backend: poldek (PLD Linux)':
- changed-files:
  - any-glob-to-any-file: backends/poldek/**

'Backend: portage (Gentoo Linux)':
- changed-files:
  - any-glob-to-any-file: backends/portage/**

'Backend: slack (Slackware Linux)':
- changed-files:
  - any-glob-to-any-file: backends/slack/**

'Backend: zypp (SUSE Linux)':
- changed-files:
  - any-glob-to-any-file: backends/zypp/**

meson: Add support checks for maintainer compiler flags
  meson.build
Labels: none

meson: Remove redundant "-Werror=format-security" flag
  meson.build
Labels: none

Fixup compiler arg detection & apt backend build
  backends/apt/apt-cache-file.cpp
  backends/apt/apt-job.cpp
  backends/apt/apt-sourceslist.cpp
  backends/apt/gst-matcher.cpp
  meson.build
Labels: Backend: apt (Debian GNU/Linux)

meson: Apply shadowing error to C only
  meson.build
Labels: none

pkcon: Move to subdir
  client/meson.build
  client/pkcon/meson.build
  client/pkcon/pk-console.c
  client/pkcon/pk-monitor.c
  client/pkcon/pkcon.xml
  client/pkcon/pkmon.xml
Labels: none

trivial: Sort build options into categories
  meson_options.txt
Labels: none

l10n: Belarusian translation updated
  po/be.po
Labels: none

client: Allow showing progress on very wide terminals on large screens
  lib/packagekit-glib2/pk-progress-bar.c
Labels: library

trivial: typos
  lib/packagekit-glib2/pk-files.c
  src/pk-transaction.c
Labels: daemon, library

progress-bar: Allow restarting an existing progress-bar
  lib/packagekit-glib2/pk-progress-bar.c
  lib/packagekit-glib2/pk-progress-bar.h
Labels: library

Add missing role-enum description for repair-system
  lib/packagekit-glib2/pk-enum.c
Labels: library

pkgctl: Add initial version of modern package-management CLI tool
  client/meson.build
  client/pkgc-context.c
  client/pkgc-context.h
  client/pkgc-manage.c
  client/pkgc-manage.h
  client/pkgc-query.c
  client/pkgc-query.h
  client/pkgc-repo.c
  client/pkgc-repo.h
  client/pkgc-util.c
  client/pkgc-util.h
  client/pkgctl.c
  meson.build
  meson_options.txt
  po/LINGUAS
  po/POTFILES.in
  po/POTFILES.skip
  tests/ci/Dockerfile-debian
  tests/ci/Dockerfile-fedora
  tests/ci/Dockerfile-solus
  tests/ci/build-and-test.sh
Labels: none

l10n: Update
  po/PackageKit.pot
Labels: none

pkgctl: Always show architecture in package lists, even if it's arch:all
  client/pkgc-util.c
Labels: none

pkgctl: Add initial version of modern package-management CLI tool
  client/meson.build
  client/pkgc-context.c
  client/pkgc-context.h
  client/pkgc-manage.c
  client/pkgc-manage.h
  client/pkgc-query.c
  client/pkgc-query.h
  client/pkgc-repo.c
  client/pkgc-repo.h
  client/pkgc-util.c
  client/pkgc-util.h
  client/pkgctl.c
  meson.build
  meson_options.txt
  po/LINGUAS
  po/POTFILES.in
  po/POTFILES.skip
  tests/ci/Dockerfile-debian
  tests/ci/Dockerfile-fedora
  tests/ci/Dockerfile-solus
  tests/ci/build-and-test.sh
Labels: none

client: Allow showing progress on very wide terminals on large screens
  lib/packagekit-glib2/pk-progress-bar.c
Labels: library

Add missing role-enum description for repair-system
  lib/packagekit-glib2/pk-enum.c
Labels: library

l10n: Update
  po/PackageKit.pot
Labels: none

progress-bar: Allow restarting an existing progress-bar
  lib/packagekit-glib2/pk-progress-bar.c
  lib/packagekit-glib2/pk-progress-bar.h
Labels: library

pkgctl: Always show architecture in package lists, even if it's arch:all
  client/pkgc-util.c
Labels: none

trivial: typos
  lib/packagekit-glib2/pk-files.c
  src/pk-transaction.c
Labels: daemon, library

pkgctl: Refactor subcommand option handling
  client/pkgc-context.c
  client/pkgc-context.h
  client/pkgc-manage.c
  client/pkgc-query.c
  client/pkgc-repo.c
  client/pkgc-util.c
  client/pkgc-util.h
  client/pkgctl.c
Labels: none

l10n: Update
  po/PackageKit.pot
Labels: none

trivial: pkgctl: Use easier-to-read symbols for upgrades
  client/pkgc-util.c
Labels: none

l10n: Bulgarian translation updated
  po/bg.po
Labels: none

l10n: Swedish translation updated
  po/sv.po
Labels: none

l10n: Slovenian translation updated
  po/sl.po
Labels: none

l10n: Swedish translation updated
  po/sv.po
Labels: none

offline-update: Delete prepfile along with the trigger and action files
  lib/packagekit-glib2/pk-offline-private.c
Labels: library

Revert: offline-update: Delete prepfile along with the trigger and action files
  lib/packagekit-glib2/pk-offline-private.c
Labels: library

pkgctl: Improve JSON output mode
  client/pkgc-query.c
  client/pkgc-util.c
  client/pkgc-util.h
Labels: none

pkgctl: Finish offline-update implementation
  client/pkgc-manage.c
Labels: none

pkgctl: Add 'monitor' subcommand
  client/meson.build
  client/pkgc-monitor.c
  client/pkgc-monitor.h
  client/pkgctl.c
Labels: none

pkgctl monitor: Use colored output for better readability
  client/pkgc-manage.c
  client/pkgc-monitor.c
  client/pkgc-query.c
  client/pkgc-util.c
  client/pkgc-util.h
Labels: none

pkgctl: Add "quit" subcommand
  client/pkgc-manage.c
Labels: none

l10n: Update
  po/POTFILES.in
  po/PackageKit.pot
Labels: none

pkgctl: Properly handle failures during offline-update preparation
  client/pkgc-manage.c
Labels: none

apt: Emit pulsing/unknown progress while waiting for cache lock
  backends/apt/apt-cache-file.cpp
  backends/apt/apt-job.cpp
Labels: Backend: apt (Debian GNU/Linux)

l10n: Slovenian translation updated
  po/sl.po
Labels: none

l10n: Swedish translation updated
  po/sv.po
Labels: none
