Repository PackageKit/PackageKit, changes with the labels that .github/labeler.yml gives for each.
All labels: daemon, library, Backend: alpm (Arch Linux), Backend: apt (Debian GNU/Linux), Backend: dnf (Fedora Linux), Backend: entropy (Sabayon), Backend: nix (NixOS), Backend: pisi (Pisi Linux), Backend: pkg (FreeBSD), Backend: poldek (PLD Linux), Backend: portage (Gentoo Linux), Backend: slack (Slackware Linux), Backend: zypp (SUSE Linux)

trivial: apt: Apply some style and warning fixes
  backends/apt/apt-job.cpp
Labels: Backend: apt (Debian GNU/Linux)

Find KDE debconf communicator in libexec as well
  lib/packagekit-glib2/pk-client-helper.c
Labels: library

offline-updates: Assume plymouth>=0.9.5 by default
  client/pk-offline-update.c
  meson.build
Labels: none

l10n: Arabic translation updated
  po/ar.po
Labels: none

ci: Add testing for eopkg backend on Solus container
  .github/workflows/build-test.yml
  tests/ci/Dockerfile-solus
Labels: none

PkBackendJob: Fix clearing GDateTime pointer
  src/pk-backend-job.c
Labels: daemon

PkBackendJob: Fix clearing GDateTime pointer
  src/pk-backend-job.c
Labels: daemon

backends: Make extended job details API the default
  backends/alpm/pk-alpm-packages.c
  backends/apt/apt-job.cpp
  backends/apt/tests/definitions.cpp
  backends/dnf/pk-backend-dnf.c
  backends/dummy/pk-backend-dummy.c
  backends/freebsd/pk-backend-freebsd.cpp
  backends/nix/pk-backend-nix.cc
  backends/poldek/pk-backend-poldek.c
  backends/slack/pk-backend-slack.cc
  backends/slack/tests/definitions.cc
  backends/zypp/pk-backend-zypp.cpp
  src/pk-backend-job.c
  src/pk-backend-job.h
  src/pk-backend-spawn.c
Labels: daemon, Backend: alpm (Arch Linux), Backend: apt (Debian GNU/Linux), Backend: dnf (Fedora Linux), Backend: nix (NixOS), Backend: pkg (FreeBSD), Backend: poldek (PLD Linux), Backend: slack (Slackware Linux), Backend: zypp (SUSE Linux)

backends/eopkg: Mark that we don't support parallelization
  backends/eopkg/pk-backend-eopkg.c
Labels: none

backends/eopkg: Remove deprecated update_system
  backends/eopkg/eopkgBackend.py
  backends/eopkg/pk-backend-eopkg.c
Labels: none

backends/eopkg: Add Packagekit->eopkg components mapping
  backends/eopkg/eopkgBackend.py
  backends/eopkg/groups.list
  backends/eopkg/meson.build
Labels: none

backends: Add eopkg (forked from PiSi)
  AUTHORS
  backends/eopkg/eopkgBackend.py
  backends/eopkg/meson.build
  backends/eopkg/pk-backend-eopkg.c
  docs/html/pk-matrix.html
  meson_options.txt
Labels: none

backends/eopkg: Add repo_enable() support
  backends/eopkg/eopkgBackend.py
  backends/eopkg/pk-backend-eopkg.c
Labels: none

backends: Add myself to the eopkg backend maintainers
  backends/MAINTAINERS.md
Labels: none

backends/eopkg: Add support for get_details_local()
  backends/eopkg/eopkgBackend.py
  backends/eopkg/pk-backend-eopkg.c
  docs/html/pk-matrix.html
Labels: none

backends/eopkg: Add get_categories support
  backends/eopkg/eopkgBackend.py
  backends/eopkg/pk-backend-eopkg.c
Labels: none

backends/eopkg: Add preference for using the nuitika compiled backend
  backends/eopkg/pk-backend-eopkg.c
Labels: none

backends/eopkg: Be more explicit with imports
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Add privileged() decorator
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Make refresh_cache() use privileged decorator
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Add get_packages support
  backends/eopkg/eopkgBackend.py
  backends/eopkg/pk-backend-eopkg.c
  docs/html/pk-matrix.html
Labels: none

backends/eopkg: Nuke _extract_update_details()
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Fix required_by() to parse all package_ids passed
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Remove network checks in C wrapper
  backends/eopkg/pk-backend-eopkg.c
Labels: none

backends/eopkg: Fix get_updates_detail()
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Add repair_system support
  backends/eopkg/eopkgBackend.py
  backends/eopkg/pk-backend-eopkg.c
  docs/html/pk-matrix.html
Labels: none

backends/eopkg: Fix get_repo_list() to also show inactive repos
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Fix atrocious get_updates() performance
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Modernize privileged operations (upgrade, remove, etc)
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Overhaul SimplePisiHandler to set percentage updates
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Overhaul __get_package() to support most filters
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Fix get_files() to parse all package_ids passed
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Make repo_set_data() use privileged decorator
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: depends_on can now parse local as well as multiple pkgs
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Fix resolve() to handle multiple values
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Add application/zip for get_mime_types()
  backends/eopkg/pk-backend-eopkg.c
Labels: none

ci: Add testing for eopkg backend on Solus container
  .github/workflows/build-test.yml
  tests/ci/Dockerfile-solus
Labels: none

backends/eopkg: get_details can parses multiple pkgs & returns all data
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Emit download_size for get_details & get_details_local
  backends/eopkg/eopkgBackend.py
Labels: none

Bump C standard version to C17
  backends/apt/meson.build
  meson.build
Labels: Backend: apt (Debian GNU/Linux)

.github/labeler.yml:

#
# Shared
#

daemon:
- changed-files:
  - any-glob-to-any-file: src/**
  - any-glob-to-any-file: ['backends/dummy/**', 'backends/test/**']

library:
- changed-files:
  - any-glob-to-any-file: lib/**

#
# Backends
#

'Backend: alpm (Arch Linux)':
- changed-files:
  - any-glob-to-any-file: backends/alpm/**

'Backend: apt (Debian GNU/Linux)':
- changed-files:
  - any-glob-to-any-file: backends/apt/**

'Backend: dnf (Fedora Linux)':
- changed-files:
  - any-glob-to-any-file: backends/dnf/**

'Backend: entropy (Sabayon)':
- changed-files:
  - any-glob-to-any-file: backends/entropy/**

'Backend: nix (NixOS)':
- changed-files:
  - any-glob-to-any-file: backends/nix/**

'Backend: pisi (Pisi Linux)':
- changed-files:
  - any-glob-to-any-file: backends/pisi/**

'Backend: pkg (FreeBSD)':
- changed-files:
  - any-glob-to-any-file: backends/freebsd/**

'Backend: poldek (PLD Linux)':
- changed-files:
  - any-glob-to-any-file: backends/poldek/**

'Backend: portage (Gentoo Linux)':
- changed-files:
  - any-glob-to-any-file: backends/portage/**

'Backend: slack (Slackware Linux)':
- changed-files:
  - any-glob-to-any-file: backends/slack/**

'Backend: zypp (SUSE Linux)':
- changed-files:
  - any-glob-to-any-file: backends/zypp/**
