Repository PackageKit/PackageKit, changes with the labels that .github/labeler.yml gives for each.
All labels: daemon, library, Backend: alpm (Arch Linux), Backend: apt (Debian GNU/Linux), Backend: dnf (Fedora Linux), Backend: entropy (Sabayon), Backend: nix (NixOS), Backend: pisi (Pisi Linux), Backend: pkg (FreeBSD), Backend: poldek (PLD Linux), Backend: portage (Gentoo Linux), Backend: slack (Slackware Linux), Backend: zypp (SUSE Linux)

apt: Handle gstreamer ()(64bit) suffix on any architecture
  backends/apt/apt-job.cpp
  backends/apt/gst-matcher.cpp
  backends/apt/gst-matcher.h
  backends/apt/tests/apt-tests.cpp
Labels: Backend: apt (Debian GNU/Linux)

Add backend maintainer list
  backends/MAINTAINERS.md
Labels: none

alpm: Use 'pk_backend_job_details_full()' so download size is reported properly
  backends/alpm/pk-alpm-packages.c
Labels: Backend: alpm (Arch Linux)

PkFiles: Modernize the codebase
  lib/packagekit-glib2/pk-files.c
Labels: library

PkPackageSack: Modernize the codebase
  lib/packagekit-glib2/pk-package-sack.c
Labels: library

PkMediaChangeRequired: Modernize the codebase
  lib/packagekit-glib2/pk-media-change-required.c
Labels: library

PkError: Modernize the codebase
  lib/packagekit-glib2/pk-error.c
Labels: library

PkUpdateDetail: Modernize the codebase
  lib/packagekit-glib2/pk-update-detail.c
Labels: library

PkResults: Modernize the codebase
  lib/packagekit-glib2/pk-results.c
Labels: library

PkBackendJob: Modernize the codebase
  src/pk-backend-job.c
  src/pk-backend-job.h
Labels: daemon

PkDistroUpgrade: Modernize the codebase
  lib/packagekit-glib2/pk-distro-upgrade.c
Labels: library

PkTaskWrapper: Modernize the codebase
  lib/packagekit-glib2/pk-task-wrapper.c
  lib/packagekit-glib2/pk-task-wrapper.h
Labels: library

PkTransactionPast: Modernize the codebase
  lib/packagekit-glib2/pk-transaction-past.c
Labels: library

meson: Refine GLib requirement definition
  meson.build
Labels: none

PkDbus: Modernize the codebase
  src/pk-dbus.c
  src/pk-dbus.h
Labels: daemon

PkEngine: Modernize the codebase
  src/pk-engine.c
  src/pk-engine.h
Labels: daemon

PkTransactionList: Modernize the codebase
  lib/packagekit-glib2/pk-transaction-list.c
Labels: library

PkDetails: Modernize the codebase
  lib/packagekit-glib2/pk-details.c
Labels: library

PkItemProgress: Modernize the codebase
  lib/packagekit-glib2/pk-item-progress.c
Labels: library

PkProgressBar: Modernize the codebase
  lib/packagekit-glib2/pk-progress-bar.c
Labels: library

PkSpawn: Modernize the codebase
  src/pk-spawn.c
  src/pk-spawn.h
Labels: daemon

Use GDateTime instead of the deprecated GTimeVal
  lib/packagekit-glib2/pk-common.c
Labels: library

PkRepoSignatureRequired: Modernize the codebase
  lib/packagekit-glib2/pk-repo-signature-required.c
Labels: library

PkScheduler: Modernize the codebase
  src/pk-scheduler.c
  src/pk-scheduler.h
Labels: daemon

PkBackend: Modernize the codebase
  src/pk-backend.c
  src/pk-backend.h
Labels: daemon

PkTransaction: Modernize the codebase
  src/pk-transaction.c
  src/pk-transaction.h
Labels: daemon

PkBackendSpawn: Modernize the codebase
  src/pk-backend-spawn.c
  src/pk-backend-spawn.h
Labels: daemon

PkTransactionDb: Modernize the codebase
  src/pk-transaction-db.c
  src/pk-transaction-db.h
Labels: daemon

PkTaskText: Modernize the codebase
  lib/packagekit-glib2/pk-task-text.c
  lib/packagekit-glib2/pk-task-text.h
Labels: library

PkClientHelper: Modernize the codebase
  lib/packagekit-glib2/pk-client-helper.c
Labels: library

PkRepoDetail: Modernize the codebase
  lib/packagekit-glib2/pk-repo-detail.c
Labels: library

PkSource: Modernize the codebase
  lib/packagekit-glib2/pk-source.c
Labels: library

PkBackendJob/PkTransactionDb: Replace GTimeVal with GDateTime
  src/pk-backend-job.c
  src/pk-transaction-db.c
Labels: daemon

PkEulaRequired: Modernize the codebase
  lib/packagekit-glib2/pk-eula-required.c
Labels: library

PkDesktop: Modernize the codebase
  lib/packagekit-glib2/pk-desktop.c
Labels: library

PkRequireRestart: Modernize the codebase
  lib/packagekit-glib2/pk-require-restart.c
Labels: library

style: Use GET_PRIVATE macro consistently
  lib/packagekit-glib2/pk-category.c
  lib/packagekit-glib2/pk-client-helper.c
  lib/packagekit-glib2/pk-client.c
  lib/packagekit-glib2/pk-control.c
  lib/packagekit-glib2/pk-details.c
  lib/packagekit-glib2/pk-distro-upgrade.c
  lib/packagekit-glib2/pk-error.c
  lib/packagekit-glib2/pk-eula-required.c
  lib/packagekit-glib2/pk-files.c
  lib/packagekit-glib2/pk-item-progress.c
  lib/packagekit-glib2/pk-media-change-required.c
  lib/packagekit-glib2/pk-package-sack.c
  lib/packagekit-glib2/pk-package.c
  lib/packagekit-glib2/pk-progress-bar.c
  lib/packagekit-glib2/pk-progress.c
  lib/packagekit-glib2/pk-repo-detail.c
  lib/packagekit-glib2/pk-repo-signature-required.c
  lib/packagekit-glib2/pk-require-restart.c
  lib/packagekit-glib2/pk-results.c
  lib/packagekit-glib2/pk-source.c
  lib/packagekit-glib2/pk-task.c
  lib/packagekit-glib2/pk-transaction-list.c
  lib/packagekit-glib2/pk-transaction-past.c
  lib/packagekit-glib2/pk-update-detail.c
Labels: library

dnf5-plugin: Compile against both sdbus version 1 and 2
  backends/dnf/meson.build
  backends/dnf/notify_packagekit.cpp
Labels: Backend: dnf (Fedora Linux)

dnf5-plugin: Small optimization to sdbus proxy
  backends/dnf/notify_packagekit.cpp
Labels: Backend: dnf (Fedora Linux)

dnf5-plugin: Compile against both sdbus version 1 and 2
  backends/dnf/meson.build
  backends/dnf/notify_packagekit.cpp
Labels: Backend: dnf (Fedora Linux)

.github/labeler.yml:

#
# Shared
#

daemon:
- changed-files:
  - any-glob-to-any-file: src/**
  - any-glob-to-any-file: ['backends/dummy/**', 'backends/test/**']

library:
- changed-files:
  - any-glob-to-any-file: lib/**

#
# Backends
#

'Backend: alpm (Arch Linux)':
- changed-files:
  - any-glob-to-any-file: backends/alpm/**

'Backend: apt (Debian GNU/Linux)':
- changed-files:
  - any-glob-to-any-file: backends/apt/**

'Backend: dnf (Fedora Linux)':
- changed-files:
  - any-glob-to-any-file: backends/dnf/**

'Backend: entropy (Sabayon)':
- changed-files:
  - any-glob-to-any-file: backends/entropy/**

'Backend: nix (NixOS)':
- changed-files:
  - any-glob-to-any-file: backends/nix/**

'Backend: pisi (Pisi Linux)':
- changed-files:
  - any-glob-to-any-file: backends/pisi/**

'Backend: pkg (FreeBSD)':
- changed-files:
  - any-glob-to-any-file: backends/freebsd/**

'Backend: poldek (PLD Linux)':
- changed-files:
  - any-glob-to-any-file: backends/poldek/**

'Backend: portage (Gentoo Linux)':
- changed-files:
  - any-glob-to-any-file: backends/portage/**

'Backend: slack (Slackware Linux)':
- changed-files:
  - any-glob-to-any-file: backends/slack/**

'Backend: zypp (SUSE Linux)':
- changed-files:
  - any-glob-to-any-file: backends/zypp/**
