Repository PackageKit/PackageKit, changes with the labels that .github/labeler.yml gives for each.
All labels: daemon, library, Backend: alpm (Arch Linux), Backend: apt (Debian GNU/Linux), Backend: dnf (Fedora Linux), Backend: entropy (Sabayon), Backend: nix (NixOS), Backend: pisi (Pisi Linux), Backend: pkg (FreeBSD), Backend: poldek (PLD Linux), Backend: portage (Gentoo Linux), Backend: slack (Slackware Linux), Backend: zypp (SUSE Linux)

.github/labeler.yml:

#
# Shared
#

daemon:
- changed-files:
  - any-glob-to-any-file: src/**
  - any-glob-to-any-file: ['backends/dummy/**', 'backends/test/**']

library:
- changed-files:
  - any-glob-to-any-file: lib/**

#
# Backends
#

'Backend: alpm (Arch Linux)':
- changed-files:
  - any-glob-to-any-file: backends/alpm/**

'Backend: apt (Debian GNU/Linux)':
- changed-files:
  - any-glob-to-any-file: backends/apt/**

'Backend: dnf (Fedora Linux)':
- changed-files:
  - any-glob-to-any-file: backends/dnf/**

'Backend: entropy (Sabayon)':
- changed-files:
  - any-glob-to-any-file: backends/entropy/**

'Backend: nix (NixOS)':
- changed-files:
  - any-glob-to-any-file: backends/nix/**

'Backend: pisi (Pisi Linux)':
- changed-files:
  - any-glob-to-any-file: backends/pisi/**

'Backend: pkg (FreeBSD)':
- changed-files:
  - any-glob-to-any-file: backends/freebsd/**

'Backend: poldek (PLD Linux)':
- changed-files:
  - any-glob-to-any-file: backends/poldek/**

'Backend: portage (Gentoo Linux)':
- changed-files:
  - any-glob-to-any-file: backends/portage/**

'Backend: slack (Slackware Linux)':
- changed-files:
  - any-glob-to-any-file: backends/slack/**

'Backend: zypp (SUSE Linux)':
- changed-files:
  - any-glob-to-any-file: backends/zypp/**

dnf5-plugin: Small optimization to sdbus proxy
  backends/dnf/notify_packagekit.cpp
Labels: Backend: dnf (Fedora Linux)

backends/eopkg: Add application/zip for get_mime_types()
  backends/eopkg/pk-backend-eopkg.c
Labels: none

backends: Add eopkg (forked from PiSi)
  AUTHORS
  backends/eopkg/eopkgBackend.py
  backends/eopkg/meson.build
  backends/eopkg/pk-backend-eopkg.c
  docs/html/pk-matrix.html
  meson_options.txt
Labels: none

backends/eopkg: depends_on can now parse local as well as multiple pkgs
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Add get_categories support
  backends/eopkg/eopkgBackend.py
  backends/eopkg/pk-backend-eopkg.c
Labels: none

backends/eopkg: Add Packagekit->eopkg components mapping
  backends/eopkg/eopkgBackend.py
  backends/eopkg/groups.list
  backends/eopkg/meson.build
Labels: none

backends/eopkg: Add get_packages support
  backends/eopkg/eopkgBackend.py
  backends/eopkg/pk-backend-eopkg.c
  docs/html/pk-matrix.html
Labels: none

backends/eopkg: Add repair_system support
  backends/eopkg/eopkgBackend.py
  backends/eopkg/pk-backend-eopkg.c
  docs/html/pk-matrix.html
Labels: none

backends/eopkg: Fix get_repo_list() to also show inactive repos
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Remove deprecated update_system
  backends/eopkg/eopkgBackend.py
  backends/eopkg/pk-backend-eopkg.c
Labels: none

backends/eopkg: Mark that we don't support parallelization
  backends/eopkg/pk-backend-eopkg.c
Labels: none

backends/eopkg: Overhaul __get_package() to support most filters
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Add preference for using the nuitika compiled backend
  backends/eopkg/pk-backend-eopkg.c
Labels: none

backends/eopkg: Modernize privileged operations (upgrade, remove, etc)
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Fix get_updates_detail()
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Add privileged() decorator
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: get_details can parses multiple pkgs & returns all data
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Fix required_by() to parse all package_ids passed
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Be more explicit with imports
  backends/eopkg/eopkgBackend.py
Labels: none

backends: Add myself to the eopkg backend maintainers
  backends/MAINTAINERS.md
Labels: none

backends/eopkg: Fix get_files() to parse all package_ids passed
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Add repo_enable() support
  backends/eopkg/eopkgBackend.py
  backends/eopkg/pk-backend-eopkg.c
Labels: none

backends/eopkg: Remove network checks in C wrapper
  backends/eopkg/pk-backend-eopkg.c
Labels: none

backends/eopkg: Make repo_set_data() use privileged decorator
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Overhaul SimplePisiHandler to set percentage updates
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Nuke _extract_update_details()
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Fix atrocious get_updates() performance
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Add support for get_details_local()
  backends/eopkg/eopkgBackend.py
  backends/eopkg/pk-backend-eopkg.c
  docs/html/pk-matrix.html
Labels: none

backends/eopkg: Fix resolve() to handle multiple values
  backends/eopkg/eopkgBackend.py
Labels: none

backends/eopkg: Make refresh_cache() use privileged decorator
  backends/eopkg/eopkgBackend.py
Labels: none

pk-offline: Store package ID lists using g_key_file_set_string_list()
  lib/packagekit-glib2/pk-offline-private.c
  lib/packagekit-glib2/pk-offline.c
Labels: library

Adapt tests for pk-offline changes
  lib/packagekit-glib2/pk-test-private.c
Labels: library

pk-offline: Store package ID lists using g_key_file_set_string_list()
  lib/packagekit-glib2/pk-offline-private.c
  lib/packagekit-glib2/pk-offline.c
Labels: library

Adapt tests for pk-offline changes
  lib/packagekit-glib2/pk-test-private.c
Labels: library

pk-offline.c: Plug a memleak I introduced earlier
  lib/packagekit-glib2/pk-offline.c
Labels: library

pk-package-ids: Properly escape the separator found in package IDs
  lib/packagekit-glib2/pk-package-ids.c
  lib/packagekit-glib2/pk-package-ids.h
  lib/packagekit-glib2/pk-test-private.c
Labels: library

pk-offline.c: Plug a memleak I introduced earlier
  lib/packagekit-glib2/pk-offline.c
Labels: library

dnf5-plugin: Explicify that the dbus proxy is on the system bus
  backends/dnf/notify_packagekit.cpp
Labels: Backend: dnf (Fedora Linux)

dnf5-plugin: Do not wait for dbus reply
  backends/dnf/notify_packagekit.cpp
Labels: Backend: dnf (Fedora Linux)

dnf5-plugin: Ignore bus errors
  backends/dnf/notify_packagekit.cpp
Labels: Backend: dnf (Fedora Linux)
