Repository PackageKit/PackageKit, pull requests merged in 2025-04, with the labels that each got.

#780 apt: Use 'pk_backend_job_details_full()' so download size is reported properly
  backends/apt/apt-job.cpp
Labels: Backend: apt (Debian GNU/Linux)

#836 OpenMandriva: small repo changes
  backends/dnf/dnf-backend-vendor-openmandriva.c
Labels: Backend: dnf (Fedora Linux)

#845 ci: Disable deprecation errors in zypp backend temporarily
  backends/zypp/meson.build
Labels: Backend: zypp (SUSE Linux)
