Repository PackageKit/PackageKit, pull requests merged in 2025-09, with the labels that each got.

#875 apt: Handle gstreamer ()(64bit) suffix on any architecture
  backends/apt/apt-job.cpp
  backends/apt/gst-matcher.cpp
  backends/apt/gst-matcher.h
  backends/apt/tests/apt-tests.cpp
Labels: Backend: apt (Debian GNU/Linux)

#882 alpm: Use 'pk_backend_job_details_full()' to report download size
  backends/alpm/pk-alpm-packages.c
Labels: Backend: alpm (Arch Linux)

#900 pk-offline.c: Plug a memleak I introduced earlier
  lib/packagekit-glib2/pk-offline.c
Labels: library
